@model IEnumerable<SistemaEducacional.Models.AlunoModel>


<nav class="navbar bg-body-tertiary">
    <h2 style="margin-left:400px">Aluno</h2>
    <a style="margin-right: 300px; width:50px" type="submit" asp-controller="Aluno" asp-action="Create" class="btn btn-outline-secondary">+</a>
    <div style="margin-left:350px" class="container-fluid">
        <form asp-controller="Direcao" asp-action="Buscar" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="nome">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Nome</th>
                <td>@item.Cpf</td>
                <td>@item.DataNascimento</td>
                <td>
                    <a asp-route-id="@item.Id" asp-controller="Aluno" asp-action="Emitir">Emitir Boleto</a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>
